* {
  font-family: 'Neuton', serif;
  padding: 0;
  margin: 0;
}

html {
  font-size: 2vmin;
}

a {
  text-decoration: underline;
  color: #58A4B0;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03em;
}

h4 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  color: #333
}

h5 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}

.schedule_button {
  padding: 1em;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: white;
  color: #DAA49A;
  border: 1px solid #DAA49A;
}

.schedule_button:hover {
  background-color: #DAA49A;
  color: white;
  cursor: pointer;
}
.schedule_button:focus {
  outline: none;
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 3vmin;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4em;
  }

  h4 {
    font-size: 2rem;
  }
}