.home {
  position: relative;
  grid-area: homescreen;
  background-image: url('/images/mountain_lake_background.jpg');
  background-size: 100% 100vmin;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vmin;
}

.text_container {
  position: relative;
  top: 10vh;
  width: 100%;
  height: auto;
  font-size: 2vmin;
  text-align: center;
  color: #373451;
  mix-blend-mode: hard-light;
}

.titlea {
  margin-bottom: 0.15em;
  font-size: 4em;
  font-weight: 300;
}

.titleb {
  margin-bottom: 0.3em;
  font-size: 2em;
  font-weight: 300;
}

.titlec {
  font-size: 3em;
  font-weight: 300;
}

.button {
  display: block;
  position: relative;
  width: fit-content;
  height: auto;
  /* margin-top: 3em; */
  text-align: center;
  text-decoration: none;
  font-size: 2vmin;
  padding: 1em;
  background-color: #373451;
  color: white;
  margin: 10em auto 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  opacity: 0.9;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: 1;
}

.covid {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin: 5vmin 15vw;
  padding: 2em;
  text-align: center;
  font-size: 2vmin;
  max-height: 25%;
  overflow: auto;
}

.covid_title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.covid::-webkit-scrollbar {
  width: 0.7em;
}
.covid::-webkit-scrollbar-track {
  background: none;
}
.covid::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0.5em;
}
.covid::-webkit-scrollbar-thumb:hover {
  background: #444;
}
.covid::-webkit-scrollbar-corner {
  background: none;
}